* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f4f8;
   margin: 0;
  padding: 0;
}

.required {
  color: red;
  font-weight: bold;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  font-size: 1.8rem;
  color: #3b82f6;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.card {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  max-width: 600px;
  width: 100%;
}


.card h3 {
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #374151;
}

.pet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #e5e7eb;
}

.pet-info p {
  margin: 0;
}

.crud-icons {
  display: flex;
  gap: 0.5rem;
}

.crud-icons i {
  font-size: 1.1rem;
  cursor: pointer;
  color: #3b82f6;
  transition: color 0.2s ease;
}

.crud-icons i:hover {
  color: #1e40af;
}

.btn-primary {
  width: 100%;
  padding: 0.8rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #059669;
}
